.error-wrapper {
    text-align: center;
    padding: 50px;
}

.code-404 { color: #e67e22; font-size: 100px; font-weight: bold; }
.code-500 { color: #c0392b; font-size: 100px; font-weight: bold; }

.error-desc {
    font-size: 20px;
    margin-bottom: 30px;
}